:root {
    --logo-font: 'Desporm';
    --nav-font: 'montserrat-semibold';
    --nav-font-size: 0.875rem;
    --heading-font: 'montserrat-extrabold';
    --heading-font-size: 3rem;
    --subheading-font: 'merriweather-bold';
    --subheading-font-size: 1.5rem;
    --body-text-font: 'merriweather-regular';
    --body-text-font-size: 1rem;
    --button-font: 'montserrat-bold';
    --button-font-size: '1rem';
    --logo-div-height: '3vh';
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
    --color-card-gb1:rgb(44, 44, 44);
    --box-shadow-hover: 0px 0px 5px rgb(223, 223, 223);
    --color-card-bg2: rgb(74, 74, 74);
    --color-check-in-squre-bg1: rgb(0, 181, 0);
    --color-check-in-squre-bg2: rgb(0, 105, 0);
    --color-check-in-squre-bg3: rgb(0, 45, 0);
}

:root.dark {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
}

:root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
}
@font-face {
    font-family: 'Desporm';
    src: url(assets/fonts/DESPORM.ttf);
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url(assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'montserrat-extrabold';
    src: url(assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'merriweather-bold';
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: 'merriweather-regular';
    src: url(assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: 'montserrat-bold';
    src: url(assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: var(--color-base-text);
}

a:hover {
    text-decoration: underline;
}


body {
    height: 100vh;
    background-color: var(--color-base-bg);
    padding: 0.5rem;
    color: var(--color-base-text);
}

.container {
    display: grid;
    background-color: var(--dark-mode-bg1);
    grid-template-columns: auto 0.95fr;
    grid-template-rows: auto 1fr;
    /* height: 100%; */
    max-height: calc(100vh - 6vh - 55px);
}
.side-bar,.search-form {
    position: sticky;
    top: -1px;
}

.side-bar {
    /* border: 2px white solid; */
    background: var(--color-card-gb1);
    border-radius: 15px;
    margin-right: 0.75rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 30vh;       */
    height: calc(100vh);
    /* border-top: 1px solid grey; */
    transition: all 0.75s;
}

.hover-border:hover, .article:hover {
    border-radius: 15px;
    box-shadow: var(--box-shadow-hover);
    transition: all 0.25s;
}

.side-nav {
    margin-bottom: auto;
    margin-top: 1.25rem;

}

.side-nav-others {
    justify-content: flex-end;
}

.side-nav, .side-nav-others {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    gap: 1rem;
    font-family: var(--nav-font);
    font-size: var(--nav-font-size);
}

.side-nav>ul, .side-nav-others>ul {
    flex: 1 0 auto;
} 

.right-side {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* grid-template-rows: auto auto; */
    /* box-shadow: 2px 3px 5px grey; */
    background: var(--color-card-gb1);
    border-radius: 0px 15px 15px 0px;
    margin-bottom: 0.75rem;
}

div.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    gap: 3%;
    padding: 3px;
    font-size: min(2vw, var(--body-text-font-size));
}

form.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
input#search-bar {
    background: url(assets/pics/icons/search-alt-1-svgrepo-com.svg),
                rgb(147, 147, 147);
    background-repeat: no-repeat;
    background-position: 5px 1px;
    background-size: 20px 20px;
    width: 90%;
    height: 1.5rem;
    padding-left: 1.75rem;
    border: 1.5px solid black;
    border-radius: 10px;
    color: white;
}

.header-row-1 {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 3px 0px;
}

.header-row-2 {
    padding: 3px 0px 10px 0px;
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 60% 40%;
}

.profile-greeting {
    display: flex;
    gap: 2%;
    margin-left: 5%;
    align-items: center;
}

.greeting>p:first-child {
    font-size: 0.75rem;
}

.action-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
    margin-right: 5%;
}

.action-btns>button {
    height: 1.5rem;
    min-width: fit-content;
    padding: 0px 7px 0px 4px;
    /* text-align: center; */
    font-family: var(--button-font);
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(0, 128, 255);
    color: white;
}

.action-btns>button:last-child {
    padding: 0px 7px;
}

button.new-workout::before, button.new-meal::before {
    content: url(assets/pics/icons/plus-svgrepo-com.svg);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0px -1px;
    filter: invert(1);
}

button.share::before {
    content: url(assets/pics/icons/share-ios-export-svgrepo-com.svg);
    height: 20px;
    width: 20px;
    display: inline-block;
    filter: invert(1);
    /* margin: 0px -1px; */
}

.notification-icon, .light-mode-toggle {
    /* display: ; */
    height: 24px;
    width: 24px;
}

.profile-pic {
    border: 1px solid black;
    height: 36px;
    width: 36px;
    min-width: 36px;
    border-radius: 50px;
    background-image: url(assets/pics/photos/steven-universe-profile-pic.jpg);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-family: var(--body-text-font);
    font-size: var(--body-text-font-size);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.content > .main {
    display: grid;
    background-color: var(--color-card-gb1);
    border-radius: 15px;
    grid-column: 1 / 2;
    /* border: 1px solid red; */
    gap: 1.25rem;
    padding: 1.3rem;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: auto auto auto auto;
    /* grid-auto-flow: column; */
    transition: all 0.75s;
}

.main:hover {
    box-shadow: 0px 0px 5px rgb(223, 223, 223);
    transition: all 0.5s;
}

.main>div:nth-child(-n + 6) {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 0.75rem;
    /* font-size: clamp(0.8rem, 90%, 5rem); */
    color: rgb(255, 255, 255);
    /* padding-left: 17%; */
    /* text-align: center; */
    text-wrap: pretty;
    overflow: hidden;
    word-wrap: break-word;
    /* justify-content: space-between; */
}

h4 {
    display: flex;
    align-items: center;
    font-family: var(--subheading-font);
    font-size: max(1vw, 0.65rem);
    text-transform: uppercase;
    letter-spacing: 0.15ch;
}

.card-content{
    text-align: left;
    font-family: var(--body-text-font);
    font-size: max(0.85vw, 0.55rem);
    /* margin-bottom: auto; */
    margin-top: 0.15rem;
}

.card-content-detail {
    display: grid;
    margin-top: auto;
    grid-template-columns: 1fr 1fr;
}

ul.card-content {
    display: flex;
    flex-direction: column;
}

ul.card-content>li::before {
    content: "+";
}

ul.card-content>a {
    margin-top: auto;
}

h4.card-header::before {
    display: inline-block;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    background-image: url(assets/pics/icons/medal-svgrepo-com\ \(1\).svg);
}

.card-content-detail::after{
    display: inline-block;
    width: 70px;
    filter: invert(1);
    transition: all 0.8s;
    align-self: end;
    justify-self: end;
}

.six-card-animation:hover > .card-content-detail::after{
    display: inline-block;
    filter: invert(1);
    transform: translate(45%, -15%);
    scale: 1.5;
    transition: all 1s;
    /* animation: icon-slide-in 1s; */
}

.medal-container {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

.medal-container {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    background-color: rgb(74, 74, 74);
    border-radius: 15px;
    /* grid-row: 3 / 4;
    grid-column: 1 / 4; */
    gap: 0.75rem;
    /* grid-template-rows: repeat(auto-fit, minmax(50px, 1fr)); */
}

.medal-container>h4 {
    margin: auto;
    color: var(--color-base-text);
}

.medals-wrap {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.article-container {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto 200px repeat(auto-fit, minmax(150px, 1fr)); */
    background-color: var(--color-card-bg2);
    border-radius: 15px;
    padding: 0.75rem;
    gap: 0.75rem;
}

h4.article-header {
    margin: auto;
    color: var(--color-base-text);
}

.articles-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.articles-wrap>div {
    display: flex;
    gap: 1rem;
    border-radius: 15px;
    transition: all 0.75s;
    letter-spacing: 0.15rem;
    /* grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); */
}

.articles-wrap img {
    max-height: 150px;
    border-radius: 15px;
    content: url(assets/pics/photos/depositphotos_8470542-stock-photo-blue-ocean-wave.jpg);
} 


.medal {
    display: flex;
    justify-content: center;
}

.medal-date {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1.15rem;
    display: block;
    font-size: 0.9rem;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    opacity: 0%;
    transform: scale(-1, 1);
    transition: all 0.75s;
}

.medals:hover>.medal-date {
    opacity: 100%;
    transform: scale(1, 1);
    transition: all 0.75s;
}

.medals::after {
    position: relative;
    top: -110%;
    content: url(assets/pics/icons/medal-svgrepo-com\ \(2\).svg);
    display: inline-block;
    width: 100%;
    transform: scale(1, 1);
    filter: grayscale(0);
    transition: all 0.75s;
}
.medals:hover::after {
    /* content: ; */
    /* background: radial-gradient(#9d9d9d, #9198e5);   */
    /* mask-image: url(assets/pics/icons/medal-svgrepo-com\ \(2\).svg); */
    transform: scale(-1, 1);
    filter: grayscale(0) sepia(100%) blur(3px) opacity(20%);
    transition: all 0.75s;
}

.strength {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: rgba(255, 88, 51, 0.8);
    transition: all 1s;
}

.strength:hover {
    transition: all 1s;
    background-color: rgba(255, 88, 51, 1);

}

.strength>.card-content-detail::after {
    content: url(assets/pics/icons/dumbbell-svgrepo-com.svg);
}

.cardio {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: rgba(255, 139, 51, 0.8);
    transition: background-color 1s;
}

.cardio:hover {
    transition: background-color 1s;
    background-color: rgba(255, 139, 51, 1);
    transition: background-color 1s;
}

.cardio>.card-content-detail::after {
    content: url(assets/pics/icons/activity-heart-svgrepo-com.svg);
}

.cardio>.card-content-detail:hover::after {
    content: url(assets/pics/icons/activity-heart-svgrepo-com.svg);
}

.calorie {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    transition: background-color 1s;
    background-color: rgba(51, 255, 88, 0.8);
}

.calorie:hover {
    transition: background-color 1s;
    background-color: rgba(51, 255, 88, 0.8);
    transition: background-color 1s;
}

.calorie>.card-content-detail::after {
    content: url(assets/pics/icons/diet-healthy-organic-svgrepo-com.svg);
}

.calorie>.card-content-detail:hover::after {
    content: url(assets/pics/icons/diet-healthy-organic-svgrepo-com.svg);
}

.water {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #33C1FF;
}

.water>.card-content-detail::after {
    content: url(assets/pics/icons/water-drop-svgrepo-com.svg);
}

.waters>.card-content-detail:hover::after {
    content: url(assets/pics/icons/water-drop-svgrepo-com.svg);
}

.weight {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background-color: #f8ff33;
}

.weight>.card-content-detail::after {
    content: url(assets/pics/icons/weight-svgrepo-com.svg);
}

.weight>.card-content-detail:hover::after {
    content: url(assets/pics/icons/weight-svgrepo-com.svg);
}


.measurements {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: #8D33FF;
}

.measurements>.card-content-detail::after {
    content: url(assets/pics/icons/measure-1-svgrepo-com.svg);
}

.measurements>.card-content-detail:hover::after {
    content: url(assets/pics/icons/measure-1-svgrepo-com.svg);
}    

.content .side {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
}

.logo {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    flex: 0 1 var(--logo-div-height)3vh;
    font-family: var(--logo-font);
    font-size: 1.25rem;
    /* border-bottom: 1px grey solid; */
    padding: 1.25vh 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    background: var(--color-card-gb1);
    margin-bottom: 0.75rem;
}

.logo::before {
    content: "";
    background: url(assets/pics/icons/brawn-svgrepo-com.svg) no-repeat,
                url(assets/pics/icons/rainbow-svgrepo-com.svg) no-repeat;
    background-size: 36px, 64px;
    background-position: 50%, 50%;
    height: 36px;
    width: 36px;
    margin-right: 1rem;
}

button.logout {
    all: unset;
    border: none;
    display: flex;
    align-items: center;
    /* text-align: start; */
    padding: 0.75rem 1.25vw;
    font-size: var(--nav-font-size);

}

button.logout::before {
    content: url(assets/pics/icons/logout.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.logout-button {
    border-top: 3px solid grey;
    font-family: var(--button-font);
    font-size: var(--button-font-size);
}

ul.side-nav > li {
    padding-left: 1.5vw;
    display: flex;
    align-items: center;
}

#overview::before {
    content: url(assets/pics/icons/dashboard-2-svgrepo-com.svg);
    display: inline-block;
    filter: invert(1);
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#workout::before {
    content: url(assets/pics/icons/gym-weight-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    filter: invert(1);
    margin-right: 1rem;
}

#diet::before {
    content: url(assets/pics/icons/diet-healthy-organic-svgrepo-com.svg);
    display: inline-block;
    filter: invert(1);
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#goals::before {
    content: url(assets/pics/icons/trophy-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    filter: invert(1);
    height: 24px;
    margin-right: 1rem;
}

#stats::before {
    content: url(assets/pics/icons/bar-chart-5-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    filter: invert(1);
    margin-right: 1rem;
}

#settings::before {
    content: url(assets/pics/icons/setting-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    filter: invert(1);
    margin-right: 1rem;
}

#privacy::before {
    content: url(assets/pics/icons/privacy-tips-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    filter: invert(1);
    margin-right: 1rem;
}

.green-3 {
    background: var(--color-check-in-squre-bg3);
}

.green-2 {
    background: var(--color-check-in-squre-bg2);
}

.green-1 {
    background: var(--color-check-in-squre-bg1);
}

.green-4 {
    background: var(--color-card-gb1);
}

.side-wrapper {
    border-radius: 15px;
    transition: all 0.75s;
}

.check-in-col1>.day-cell {
    color: var(--color-card-bg2);
}

.side-wrapper>.side {
    background: var(--color-card-gb1);
    position: sticky;
    top: -1px;
    display: flex;
    flex-direction: column;
    /* padding: 1.3rem; */
    border-radius: 15px;
    min-height: 100vh;
    /* gap: 1.75rem; */
    /* overflow: auto; */
}

.side>div {
    margin: 1.3rem;
}

.side-wrapper h4 {
    margin-bottom: 0.65rem;
}

.finished {
    flex: 1 0 auto;
    overflow: hidden;
}

.check-in-history {
    position: relative;
    border: 1px solid rgb(98, 98, 98);
    border-radius: 15px;
    background: var(--color-card-bg2);
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    /* max-height: 100%; */
    gap: 0.15rem;
    height: 68vh;
    display: flex;    
    overflow-y: scroll;
    /* grid-template-columns: repeat(8,minmax(15px, 1fr)); */
    /* grid-template-rows: repeat((53, 15px)); */
}

.check-in-col {
    flex: 0 0 11%;
    max-width: 11%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 1.25rem; */
}

.check-in-col>div {
    margin-bottom: 0.35rem;
}

.check-in-cell {
    width: 85%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

.day-cell {
    position: sticky;
    border-radius: 0px;
    padding-top: 0.5rem;
    top: -1px;
    text-align: center;
    background: var(--color-card-bg2);
    /* padding: 1px; */
}

.month-cell{
    /* position: ; */
    font-size: 1vw;
}

.check-in-col1 {
    margin-right: 3px;
}

.check-in-col1>div {
    background: var(--color-card-gb2);
}

.upcoming-workout {
    background: var(--color-card-bg2);
    padding: 1.75rem 0rem;
    text-align: center;
    border-radius: 15px;
}

