:root {
    --logo-font: 'Desporm';
    --nav-font: 'montserrat-semibold';
    --nav-font-size: 0.875rem;
    --heading-font: 'montserrat-extrabold';
    --heading-font-size: 3rem;
    --subheading-font: 'merriweather-bold';
    --subheading-font-size: 1.5rem;
    --body-text-font: 'merriweather-regular';
    --body-text-font-size: 1rem;
    --button-font: 'montserrat-bold';
    --button-font-size: '1rem';
    --logo-div-height: '3vh'
}

:root.dark {
    --border-btn: 1px solid rgb(220, 220, 220);
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-btn-bg: rgb(36, 36, 36);
}

:root.light {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
}
@font-face {
    font-family: 'Desporm';
    src: url(assets/fonts/DESPORM.ttf);
}

@font-face {
    font-family: 'montserrat-semibold';
    src: url(assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'montserrat-extrabold';
    src: url(assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'merriweather-bold';
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: 'merriweather-regular';
    src: url(assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: 'montserrat-bold';
    src: url(assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: grid;
    background-color: var(--dark-mode-bg1);
    grid-template-columns: auto 0.95fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-height: calc(100vh - 6vh - 55px);
}
.side-bar,.search-form {
    position: sticky;
    top: -1px;
}

.side-bar {
    border: 2px white solid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 30vh;       */
    height: calc(100vh);
    /* max-height: 100vh - var(--logo-div-height); */
    border-right: 1px solid grey;
    /* justify-content: space-between; */
    /* box-shadow: 3px 0px 5px grey; */
}

.side-nav {
    margin-bottom: auto;
    margin-top: 1.25rem;

}

.side-nav-others {
    justify-content: flex-end;
}

.side-nav, .side-nav-others {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    gap: 1rem;
    font-family: var(--nav-font);
    font-size: var(--nav-font-size);
}

.side-nav>ul, .side-nav-others>ul {
    flex: 1 0 auto;
} 

.right-side {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    grid-template-rows: auto auto;
    border-bottom: 1px solid grey;
    /* box-shadow: 2px 3px 5px grey; */
}

div.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    gap: 3%;
    padding: 3px;
    font-size: min(2vw, var(--body-text-font-size));
}

form.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
input#search-bar {
    background-image: url(assets/pics/icons/search-alt-1-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: 5px 1px;
    background-size: 20px 20px;
    width: 90%;
    height: 1.5rem;
    padding-left: 1.75rem;
    border: 1.5px solid black;
    border-radius: 10px;
}

.header-row-1 {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 3px 0px;
}

.header-row-2 {
    padding: 3px 0px 10px 0px;
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: 60% 40%;
}

.profile-greeting {
    display: flex;
    gap: 2%;
    margin-left: 5%;
    align-items: center;
}

.greeting>p:first-child {
    font-size: 0.75rem;
}

.action-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3%;
    margin-right: 5%;
}

.action-btns>button {
    height: 1.5rem;
    min-width: fit-content;
    padding: 0px 7px 0px 4px;
    /* text-align: center; */
    font-family: var(--button-font);
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(0, 128, 255);
    color: white;
}

.action-btns>button:last-child {
    padding: 0px 7px;
}

button.new-workout::before, button.new-meal::before {
    content: url(assets/pics/icons/plus-svgrepo-com.svg);
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0px -1px;
    filter: invert(1);
}

button.share::before {
    content: url(assets/pics/icons/share-ios-export-svgrepo-com.svg);
    height: 20px;
    width: 20px;
    display: inline-block;
    filter: invert(1);
    /* margin: 0px -1px; */
}

.notification-icon, .light-mode-toggle {
    /* display: ; */
    height: 24px;
    width: 24px;
}

.profile-pic {
    border: 1px solid black;
    height: 36px;
    width: 36px;
    min-width: 36px;
    border-radius: 50px;
    background-image: url(assets/pics/photos/steven-universe-profile-pic.jpg);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-family: var(--body-text-font);
    font-size: var(--body-text-font-size);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.content > .main {
    display: grid;
    background-color: #2c2c2c;
    grid-column: 1 / 2;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(5, 1fr);
    /* border: 1px solid red; */
    gap: 0.75rem;
    padding: 1.3rem;
    grid-template-areas: 
        "st cal weight"
        "cardi water meas"
        "tb tb tb"
        "tb tb tb"
        "md md md";
    /* grid-auto-flow: column; */
}

.main>div:nth-child(-n + 6) {
    /* border: 1px solid green; */
    /* height: 200px; */
    border-radius: 15px;
    padding: 0.75rem 1.15rem;
    font-family: var(--subheading-font);
    /* font-size: clamp(0.8rem, 90%, 5rem); */
    letter-spacing: 0.15ch;
    color: rgb(255, 255, 255);
}

.six-card-animation {
    grid-area: st;
    overflow: hidden;
}

.six-card-animation::after {
    /* margin-left: 10%; */
    width: 50%;
    height: 50%;
    filter: invert(1) brightness(0.95);
    transform: rotate(0deg) scale(1) translate(115%, 15%);
    transition: all 1s;
    display: block; 
} 

.six-card-animation:hover::after {
    display: block;
    /* margin-left: 0%; */
    /* filter: invert(1) brightness(0.95); */
    transform: rotate(0deg) scale(2) translate(100%,0%);
    transition: all 1s;   
}

.strength {
    background-color: rgba(255, 88, 51, 0.8);
    transition: all 1s;
}

.strength:hover {
    transition: all 1s;
    background-color: rgba(255, 88, 51, 1);

}

.strength::after {
    content: url(assets/pics/icons/dumbbell-svgrepo-com.svg);
}

.strength:hover::after {

    content: url(assets/pics/icons/dumbbell-svgrepo-com.svg);
}

.cardio {
    grid-area: cardi;
    background-color: rgba(255, 139, 51, 0.8);
    transition: background-color 1s;
}

.cardio:hover {
    transition: background-color 1s;
    background-color: rgba(255, 139, 51, 1);
    transition: background-color 1s;
}

.cardio::after {
    content: url(assets/pics/icons/activity-heart-svgrepo-com.svg);
}

.cardio:hover::after {
    content: url(assets/pics/icons/activity-heart-svgrepo-com.svg);
}

.calorie {
    transition: background-color 1s;
    grid-area: cal;
    background-color: rgba(51, 255, 88, 0.8);
}

.calorie:hover {
    transition: background-color 1s;
    background-color: rgba(51, 255, 88, 0.8);
    transition: background-color 1s;
}

.calorie::after {
    content: url(assets/pics/icons/diet-healthy-organic-svgrepo-com.svg);
}

.calorie:hover::after {
    content: url(assets/pics/icons/diet-healthy-organic-svgrepo-com.svg);
}

.water {
    grid-area: water;
    background-color: #33C1FF;
}

.water::after {
    content: url(assets/pics/icons/water-drop-svgrepo-com.svg);
}

.waters:hover::after {
    content: url(assets/pics/icons/water-drop-svgrepo-com.svg);
}

.weight {
    grid-area: weight;
    background-color: #f8ff33;
}

.weight::after {
    content: url(assets/pics/icons/weight-svgrepo-com.svg);
}

.weight:hover::after {
    content: url(assets/pics/icons/weight-svgrepo-com.svg);
}


.measurements {
    grid-area: meas;
    background-color: #8D33FF;
}

.measurements::after {
    content: url(assets/pics/icons/measure-1-svgrepo-com.svg);
}

.measurements:hover::after {
    content: url(assets/pics/icons/measure-1-svgrepo-com.svg);
}


.analysis {
    grid-area: tb;
}

.medals {
    grid-area: md;
}

.content .side {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
}

.content>.side>div {
    border: 1px solid yellow;
}

.logo {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    flex: 0 1 var(--logo-div-height)3vh;
    font-family: var(--logo-font);
    font-size: 1.25rem;
    border-bottom: 3px grey solid;
    padding: 3vh 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo::before {
    content: "";
    background: url(assets/pics/icons/brawn-svgrepo-com.svg) no-repeat,
                url(assets/pics/icons/rainbow-svgrepo-com.svg) no-repeat;
    background-size: 36px, 64px;
    background-position: 50%, 50%;
    height: 36px;
    width: 36px;
    margin-right: 1rem;
}

button.logout {
    all: unset;
    border: none;
    display: flex;
    align-items: center;
    /* text-align: start; */
    padding: 0.75rem 1.25vw;
    font-size: var(--nav-font-size);

}

button.logout::before {
    content: url(assets/pics/icons/logout.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.logout-button {
    border-top: 3px solid grey;
    font-family: var(--button-font);
    font-size: var(--button-font-size);
}

ul > li {
    padding-left: 1.5vw;
    display: flex;
    align-items: center;
}

#overview::before {
    content: url(assets/pics/icons/dashboard-2-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#workout::before {
    content: url(assets/pics/icons/gym-weight-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#diet::before {
    content: url(assets/pics/icons/diet-healthy-organic-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#goals::before {
    content: url(assets/pics/icons/trophy-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#stats::before {
    content: url(assets/pics/icons/bar-chart-5-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#settings::before {
    content: url(assets/pics/icons/setting-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

#privacy::before {
    content: url(assets/pics/icons/privacy-tips-svgrepo-com.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}
